.logo { 
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 25px;
    border-radius: 8%;
    background-color: #DE4C36;
    transform: rotate(135deg);
  }
  .circle {
    width: 20px;
    height: 20px;
    background-color: whitesmoke;
    border-radius: 50%;
  }
  .line {
    position: absolute;
    height: 70px;
    width: 10px;
    background-color: whitesmoke;
  }
  .vertical {
    left: 25%;
    bottom: 0;
    }
    .diagonal {
      transform: rotate(45deg);
    }